<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta http-equiv="refresh" content="30" />

    <title>Lazerdrive Leaderboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:200,400,700">
</head>
<body>

    <div class="container">

        <div class="jumbotron">
            <h1>Lazerdrive <span class="color2">Leaderboard</span></h1>
            <p class="lead text-right">The Lazerdrive hall of fame of the best scores and players.</p>
            <hr class="m-y-md">
            <a class="btn btn-primary btn-lg btn-block" href="http://www.lazerdrive.io/" target="_blank">Play now</a>
        </div>

        <div class="row">
            <div class="{{ onlinePlayers|length == 0 ? 'col-md-6 col-md-offset-3' : 'col-md-7' }}">

                <h3>Hall of fame</h3>

                <table class="scores table table-striped table-hover">

                    {% for position, player in players %}
                        <tr>
                            <td>
                                #{{ position + 1 }}
                            </td>
                            <td>
                                <img src="{{ player.avatarUrl }}" class="avatar">
                            </td>
                            <td>
                                <span{% if player.color %} style="color: #{{ player.color }};"{% endif %}>{{ player.name }}</span>
                                {% if player.company %}<span class="label label-primary">{{ player.company }}</span>{% endif %}
                                {% if player.online %}<span class="label label-success">online</span>{% endif %}
                            </td>
                            <td class="text-right score">
                                {{ player.highScore }}
                            </td>
                        </tr>
                    {% endfor %}

                </table>

            </div>

            {% if onlinePlayers %}
                <div class="col-md-5">
                    <h3>Currently playing</h3>

                    <table class="scores table table-striped table-hover">

                        {% for position, player in onlinePlayers %}
                            <tr>
                                <td>
                                    <img src="{{ player.avatarUrl }}" class="avatar">
                                </td>
                                <td>
                                    <span{% if player.color %} style="color: #{{ player.color }};"{% endif %}>{{ player.name }}</span>
                                    {% if player.company %}<span class="label label-primary">{{ player.company }}</span>{% endif %}
                                </td>
                                <td class="text-right score">
                                    {{ player.highScore }}
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            {% endif %}
        </div>

    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-71615459-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>
